.intro { 
  text-align: center; 
  font-family: Arial, sans-serif;
}

h2 { 
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

p { 
  font-size: 14pt;
  color: #555;
  line-height: 1.6;
}

#image-gallery { 
  width: 70%; 
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#current-image { 
  width: 90%; /* Reduced size */
  border-radius: 15px;
  transition: transform 0.3s ease, border 0.3s ease;
  border: 5px solid transparent;
} 

#current-image:hover { 
  transform: scale(1.05);
  border-color: red; /* Red border on hover */
}

#image-thumbs { 
  display: flex; 
  justify-content: center; 
  margin-top: 20px;
  gap: 15px;
}

.thumb { 
  width: 70px; /* Reduced size */
  height: 70px; 
  object-fit: cover; 
  border-radius: 50%;
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
  cursor: pointer;
  border: 3px solid transparent;
}

.thumb:hover { 
  transform: scale(1.1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  border-color: red; /* Red border on hover */
}
